body{
    background-image: linear-gradient(to left, #8D99AE 0%, white 100%);
    
}

.textin {
    text-shadow: 0 0 1px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #EF233C,
    0 0 25px #D90429;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textin-welcome{
    color: #D90429;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 5%;    
}

.Div_centrin{
    margin: 10%
    
}

.contaiiner{    
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
    border: 0.25px gray solid;
    width: 20vw;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 70px;
}

.Form_cat_admin {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 300px;
}

.style-cards{
    display: block;
    margin-top:20px;
    margin-left: 30px;
}