
.image{
    position: absolute;
    bottom: 5px;
    left: 750px;
    width: 600px;
    height: 550px;
}

.div_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 676px;
    background-color: black;
}

.juan{
    position: relative;
    right: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: 45,83,54,7;
    align-items: center;
    height: 500px;
    width: 600px;
    margin-left: 30p;
    border: whitesmoke 1px solid;
    border-radius: 15px;
    color:white
}

.form{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 20px;
}

.my_butom{
    position: absolute;
    top: 3px;
    left: 290px;
    color: white;
    border: #d31212 1px solid;
    border-radius: 5px;
    background-color: #d31212;
}

.my_butom:hover {
    background-color: #f40000;
    border: #f40000 1px solid;
}

.inputs{
    margin-top: .5em;
    margin-bottom: .5em;
}

.file {
    position: relative;
    top: 30px;
    text-decoration: none;
}

.imgDisp{
    width: 200px;
    left: 55%;
    bottom: 17px;  
}

.imgCarga{
    width: 200px;
    left: 55%;
    bottom: 17px;  
}

.submit{
    position: relative;
    left: 120px;
    width: 300px;
    height:30px;
    border: #d31212 solid 2px;
    border-radius: 5px;
    color: white;
    background-color: #d31212;
}

.submit:hover{
    background-color: #f40000;
}

.label {
    font-size: 18px;
}

.titulo {
    position: relative;
    text-align: center;
}

.juan1{
    position: relative;
    display: flex;
    border: whitesmoke 1px;
    border-radius: 15px ;
    color: white;
    height: 450px;
    width: 500px ;
    right: 450px;    
    flex-direction: column;
}


.submit1 {
    position: relative;
    top: 10px;
    background-color: #d31212;
    border: 1px #d31212 solid;
    border-radius: 3px;
    color: white;
    width: 150px;
    height: 30px;
}

.submit1:hover{
    background-color: red;
    border-color: red;
}

.label1 {
    font-size: 25px;
}


.inputs1 {
    border: whitesmoke 2px solid;
    border-bottom-left-radius: 0.25rem;
    margin-right:30px;
    box-sizing: border-box;
    border-radius:4px;
}

.categories {
    position: absolute;
    top: 180px;
    left: 1000px;
    border: 1px whitesmoke;
    padding: 20px;
    border-radius: 15px;
    color: white;
}

.ul{
    list-style-type:none;
    text-decoration: none;
}

.li{
    text-decoration: none;
}

.link {
    position: relative;
    right: 20px;
    color: white;
    font-size: 20px;
}
.link:link {
    text-decoration: none;
}

.link:hover {
    color: whitesmoke;
}

.edit {
    position: relative;
    left: 5px;
    color: white;
    background-color: #d31212;
    border: #d31212;
    border-radius: 3px;
}

.delete {
    color: white;
    position: relative;
    left: 10px;
    background-color: #d31212;
    border: #d31212;
    border-radius: 3px;
}

.delete:hover {
    border-color: red;
    background-color: red;
}

.edit:hover {
    border-color: red;
    background-color: red;
}

.div_conteiner{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    align-items: center;
    position: relative;
    height: 675px;

}

.admin {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    height: 300px;
}

.bot {
    background-color: #d31212;
    border: #d31212 solid 3px;
    border-radius: 5px;
    color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 20px;
        margin-top: .5em;
        margin-bottom: .5em;
        margin-left: 1em;
        margin-right: .5em;
}


.bot:hover{
    background-color: red;
    border: red solid 3px;
}

.tittle {
    position: relative;
    top: 20px;
}

.btn1 {
    position: relative;
    left: 700px;
    background-color: #d31212;
    border: #d31212 solid 3px;
    border-radius: 5px;
    color: white;
}

.btn1:hover {
    background-color: red;
    border-color: red;

}

.btn2 {
    position: relative;
    top: 35px;
    left: 1350px;
    background-color: #d31212;
    border: #d31212 solid 3px;
    border-radius: 5px;
    color: white;
}

.btn2:hover {
    background-color: red;
    border-color: red;
    
}

.links_terminos {
    color: black;
    text-decoration: underline;
}

.links_terminos:hover {
    color: black;
}


