body {
    background-color:white;
}
.nav-item {
    margin-left: 1vw;
    margin-top: 1vh;
    align-content: center;
}
.nav-link {
    background-color: white;
    border: gray 0.5px solid;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.29);
    color: #D90429;
    cursor: pointer;
    font-size: 19px;
    height: 4.2vh;
    padding: 0.5vw;
}
.nav-link:hover {
    background-color: whitesmoke;
}
.custom-select {
    background-color: white;
    border: gray 0.5px solid;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.29);
    color: #D90429;
    cursor: pointer;
    font-size: 19px;
    height: 4.2vh;
    justify-content: center;
    padding-bottom: 0.4vh;
}
.custom-select:hover {
    background-color: whitesmoke;
}
.opt102 {
    font-size: 19px;
}


.botonete:hover {
    background: #8D99AE;
    color: black;
}

.input102[type=text] { 
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.29);
    padding: 6px 0 7px 1vw;
    display: flex;
    flex-flow: row wrap;
    width: 30vw;
    margin-left: 2vw;
    margin-top: 1vh;
    box-sizing: border-box;
    border: 0.5px solid gray;
    border-radius:4px;
    font-size: 19px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: white;
    height: 4.2vh;

}

.categ {
    background-color:lightgrey;
    text-align: center;
    display: inline-block;
    border-radius:4px;
    height: 40px;
}

.categ:hover {
    background: #8D99AE;
    color: black;
}

.lin{
    background-color: lightgrey;
    text-align: center;
    display: inline-block;
    border-radius:4px;
}

.lin:hover {
    background: #8D99AE;
    color: black;
}


.homE{
    background-color: lightgrey;
    text-align: center;
    display: inline-block;
    border-radius:4px;
}

.homE:hover {
    background: #8D99AE;
    color: black;
}


.navbar-logo img{
margin-left:10px;
padding: 10px
}

.btn3 {
    position: relative;
    left: 5px;
    top: 5px;
    background-color: #D3D3D3;
    border: 1px solid #D3D3D3;
    color: #495057;
    border-radius: 5px;
    padding: 5px;
}

.btn3:hover {
    background: #8D99AE;
    color: black;
}

