body {
    background-color: #2B2D42;
}

.botonete {
    background-color: lightgrey;
    color: black;
    border-radius: 5px;
    margin-top: 8px;
    margin-left: 15px;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    padding-left: 10px;
    padding-top: 5px;
    width: 70px;
    height: 40px;
    
}
.botonete:hover {
    background: #8D99AE;
    color: black;
}

.input[type=text] { 
    border-top-left-radius: 0,25rem;
    border-bottom-left-radius: 0.25rem;
    margin-left:10px;
    padding: 12px 20px 12px 40px;
    display: flex;
    flex-flow: row wrap;
    width: 150px;
    box-sizing: border-box;
    border: 1px solid #bdbdbd;
    border-radius:4px;
    font-size: 16px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-image: url('http://img.icons8.com/metro/26/000000/search.png');
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}
.input[type=text]:focus {
    width:100%
}

.categ {
    background-color:lightgrey;
    text-align: center;
    display: inline-block;
    border-radius:4px;
    height: 40px;
}

.categ:hover {
    background: #8D99AE;
    color: black;
}

.lin{
    background-color: lightgrey;
    text-align: center;
    display: inline-block;
    border-radius:4px;
}

.lin:hover {
    background: #8D99AE;
    color: black;
}


.homE{
    background-color: lightgrey;
    text-align: center;
    display: inline-block;
    border-radius:4px;
}

.homE:hover {
    background: #8D99AE;
    color: black;
}


.navbar-logo img{
margin-left:10px;
padding: 10px
}

.btn3 {
    position: relative;
    left: 5px;
    top: 5px;
    background-color: #D3D3D3;
    border: 1px solid #D3D3D3;
    color: #495057;
    border-radius: 5px;
    padding: 5px;
}

.btn3:hover {
    background: #8D99AE;
    color: black;
}

