.volver_dashboard {
    background-color: white;
    border: 0.25px gray solid;
    border-radius: 5px;
    color: black;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 960px;
    left: 10px;
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35)
}

.volver_dashboard:hover {
    background-color: #8D99AE;
    border: black solid 1px;
}
