
.container{
    margin-top: 15px;   
}

.row{
    border: 0.25px gray solid;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
    border-radius: 8px;
    display: flex; 
    flex-direction: row;
    background-color: white;  
}

.col-md-4{
    padding: 5px;
    margin:  5px;
    margin-left: 30px;
    margin-right: 30px;


}

.card-img{
    width: auto;
    max-width: 300px;
    height: 300px;
}
.card-img:hover {
    border: 1px solid black;
}
.emptyLike {
    height: 30px;
    margin: 20px 0px 0px 70px;
}
.emptyLike:hover {
    height: 33px;
}
.fullLike {
    height: 32px;
    margin: 20px 0px 0px 70px;

}
.fullLike:hover {
    height: 35px;

}

.informacion{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 450px;
    margin-left: 60px;
    margin-top: 20px;
}

.divBoton{
    display: flex;    
    margin-top: 10px;
    margin-bottom: 50px;
    height: 40px;
    width: 120px;
    margin-left: 20px;
}

.card-title{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    color: #0645AD;
}
.card-title:hover {
    color: cornflowerblue;
}

.card-text-price{
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: 300;
    margin-top: 30px;
}

.card-text{
    font-family: 'Malgun Gothic';
    font-size: 18px;
    margin-top: 20px;
}