.sing_in{
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(2, 2, 2);
    border-radius: 15px;
    background-color:rgb(214, 214, 214);
    height: 600px;
    width: 550px;
    margin-left: 32%;
    margin-top: 30px;
    align-items: center;
}
.Titulo-Ingresar{
    position: relative;
    display: flex;
    justify-content: space-between;
        margin-top: .5em;
        margin-bottom: 100px;
}
.Titulo{
    position: relative;
    display: flex;
    justify-content: space-between;
        margin-top: .5em;
        margin-bottom: .9em;
        
}

.input-sing-in{
    width: 600px;
}

.form-control{
    background-color:rgb(214, 214, 214);
    border-color:rgb(214, 214, 214);
    border-bottom-color: rgb(255, 255, 255);
}
.form-group{

    background-color:rgb(214, 214, 214);
    border-color:rgb(214, 214, 214);
    border-bottom-color: rgb(255, 255, 255);
}

.detail{
    color: black;
}

.checkbox{
    margin-left: 5px;
}
