.sing_in{
    display: flex;
    justify-content: center;
    align-content: space-around;
    border: 0.25px gray solid;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
    border-radius: 8px;
    width: min-content;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    height: 50vh;
    padding: 2vh;
    background-color: whitesmoke;
}
.Titulo-Ingresar{
    width: 10vw;
    margin: auto;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 5vh;
    color: #D90429;
}
.Titulo{
    align-self: center;
        
}

.input-sing-in{
   
}

.form-control{
    margin-top: 0.5vh;
    border: 0.5px gray solid;
    border-radius: 8px;
}
.form-group{

}

.btns104 {
    width: 10vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}