.containerTabla{
   

}

.tablaO{
   border: 1px solid red;
   border-radius: 10px;
   width: 40vw;
   margin: auto;
}

.headerTabla{
   display: flex;
   width: 40vw;
   justify-content: space-around;
   
  
}

.headerI{
    border-right: 1px solid black;
    width: 10vw;
    
  
}

.headerII{
   
    width: 10vw;
    
}
